### String Formatter

In [2]:
name = "Ashish Mehta"

In [3]:
print ("My name is name")

My name is name

- The above code does not print the name of the person the way we want it
- Hence we make use of string formatter

In [4]:
print("My name is {}".format(name))

My name is Ashish Mehta

In [5]:
print(f"My name is {name}")

My name is Ashish Mehta

### Minimum width and alignment between the column

- Assume that we have 2 columns
- col 1 = Days
- col 2 = No. of hours worked


- The values in the cols are in the following format


- Day   No of hours worked
- Monday  2  
- Tuesday  3
- Wednesday  4
- .  .
- .  .
- .  .
- Friday 12

- We can see that the 2 columns are not alligned properly. Hence by using f strings, we will properly allign the two columns

In [6]:
data = [("Monday", 2), ("Tuesday", 3), ("Friday", 5), ("Sunday", 7)]

In [7]:
print(data)

[('Monday', 2), ('Tuesday', 3), ('Friday', 5), ('Sunday', 7)]

In [8]:
# print the info in the list using a for loop

for info in data:
    print(info)

('Monday', 2)
('Tuesday', 3)
('Friday', 5)
('Sunday', 7)

In [12]:
for info in data:
    print(f"{info[0]:{50}} {info[1]:{10}}")

Monday                                                      2
Tuesday                                                     3
Friday                                                      5
Sunday                                                      7

- The meaning of the above code is as follows:
    - for each info in data:
    - print tuple 0, leave 50 spaces and then print tuple 1 and leave 10 spaces

In [17]:
# Change the allignment of the tuple to right, left or center using [> < or ^] signs

for info in data:
    print(f"{info[0]:>{50}} {info[1]:{10}}")

                                            Monday          2
                                           Tuesday          3
                                            Friday          5
                                            Sunday          7

In [18]:
for info in data:
    print(f"{info[0]:<{50}} {info[1]:{10}}")

Monday                                                      2
Tuesday                                                     3
Friday                                                      5
Sunday                                                      7

In [19]:
for info in data:
    print(f"{info[0]:^{50}} {info[1]:{10}}")

                      Monday                                2
                     Tuesday                                3
                      Friday                                5
                      Sunday                                7

In [23]:
# Dot notation to seperate the two columns
for info in data:
    print(f"{info[0]:{50}} {info[1]:.>{10}}")

Monday                                             .........2
Tuesday                                            .........3
Friday                                             .........5
Sunday                                             .........7

### Built-in magic command in Jupyter %%writefile

In [34]:
%%writefile text1.txt
Hello, My naame is Ashish
I am 25 years old. I am a data-scientist

Overwriting text1.txt

- text1.txt file has been created and stored in the working repositiory
- To append sentences into the file, we make use of -a function

In [40]:
%%writefile -a text1.txt
I will get a 8 lakh job in Mumbai.
I will be a happy person

Appending to text1.txt

### Use Pythons Builtin command to read and write text file.

In [51]:
file = open("text1.txt", "r")

In [52]:
file

In [53]:
file.read() # reads the whole file

'Hello, My name is Ashish\nI am 25 years old. I am a data-scientist\nI will get a 8 lakh job in Mumbai.\nI will be a happy person\n'

In [54]:
file.read()

''

- When we run the file.read() the second time, we get an empty string. So in order to read the file again, we have to start running the code from file = open("text1.txt","r") 
- file.read() returns an empty string during the second time because when we read it for the first time, the pointer is then set at the end of the file. So when we read it for the second time, there is nothing to display after the end of file. And hence it shows an empty string.

In [70]:
# To bring the pointer to the start of the file

file.seek(0)

0

In [71]:
file.read()

'Hello, My name is Ashish\nI am 25 years old. I am a data-scientist\nI will get a 8 lakh job in Mumbai.\nI will be a happy person\n'

In [69]:
# To read the lines in the file one by one
file.readline()

'I will get a 8 lakh job in Mumbai.\n'

- If we keep pressing shift + enter, the command will keep reading different lines one by one

In [72]:
file.seek(0)

0

In [73]:
#reading all the lines together as a list of lines
file.readlines()

['Hello, My name is Ashish\n',
 'I am 25 years old. I am a data-scientist\n',
 'I will get a 8 lakh job in Mumbai.\n',
 'I will be a happy person\n']

In [74]:
# Close the file when work is done.

file.close()

In [75]:
file = open("text1.txt", "r")

In [76]:
file.readlines()

['Hello, My name is Ashish\n',
 'I am 25 years old. I am a data-scientist\n',
 'I will get a 8 lakh job in Mumbai.\n',
 'I will be a happy person\n']

In [77]:
file.seek(0)

0

In [78]:
for line in file:
    print(line)

Hello, My name is Ashish

I am 25 years old. I am a data-scientist

I will get a 8 lakh job in Mumbai.

I will be a happy person

- We can see that there is extra space between the sentences.
- We can remove that by using .strip()

In [79]:
file.seek(0)

0

In [80]:
for line in file:
    print(line.strip())

Hello, My name is Ashish
I am 25 years old. I am a data-scientist
I will get a 8 lakh job in Mumbai.
I will be a happy person

- .strip() removes all the extra charecters between the sentences

### Printing the line number for each sentence

In [83]:
file.seek(0)
for i, line in enumerate(file):
    print(str(i) + " ---> "+ line)

0 ---> Hello, My name is Ashish

1 ---> I am 25 years old. I am a data-scientist

2 ---> I will get a 8 lakh job in Mumbai.

3 ---> I will be a happy person

In [84]:
file.seek(0)
for i, line in enumerate(file):
    print(str(i) + " ---> "+ line.strip())

0 ---> Hello, My name is Ashish
1 ---> I am 25 years old. I am a data-scientist
2 ---> I will get a 8 lakh job in Mumbai.
3 ---> I will be a happy person

### Writing to a file

In [106]:
file = open ("text2.txt", "w")

In [107]:
file

In [108]:
file.write("Ashish is very strong mentally and physically\n")

46

- if we now open text2.txt to check it, it will display nothing. In order for it to display something in the text2.txt, we have to close the file.

In [109]:
file.close()

In [110]:
file = open ("text2.txt", "a")

In [111]:
file.write("I can achieve anaything I want. I am not fearful of anything")

60

In [112]:
file.close()

# How to append text in a file line by line

In [122]:
file = open("text3.txt" , "w")

In [123]:
file.write("I am very rich.\n")

16

In [124]:
file.close()

In [241]:
file = open("text3.txt", "a")
text = open("text1.txt", "r")

In [126]:
for line in text:
    file.write(line)

In [127]:
file.close()

In [304]:
file = open("text1.txt", "w")

In [305]:
file.seek(0)

0

In [306]:
file.write("My name is Ashish.\n I am 25 years old.\n I am a data scientist")

61

In [307]:
file.close()