In [1]:
!pip install -U spacy
!pip install -U spacy-looups-data
!pip install -m spacy download en_core_web_sm
!pip install -m spacy download en_core_web_md
!pip install -m spacy download en_core_web_lg

Requirement already up-to-date: spacy in f:\anaconda3\lib\site-packages (2.2.4)
Requirement already satisfied, skipping upgrade: cymem<2.1.0,>=2.0.2 in f:\anaconda3\lib\site-packages (from spacy) (2.0.3)
Requirement already satisfied, skipping upgrade: catalogue<1.1.0,>=0.0.7 in f:\anaconda3\lib\site-packages (from spacy) (1.0.0)
Requirement already satisfied, skipping upgrade: preshed<3.1.0,>=3.0.2 in f:\anaconda3\lib\site-packages (from spacy) (3.0.2)
Requirement already satisfied, skipping upgrade: setuptools in f:\anaconda3\lib\site-packages (from spacy) (40.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.15.0 in f:\anaconda3\lib\site-packages (from spacy) (1.16.2)
Requirement already satisfied, skipping upgrade: blis<0.5.0,>=0.4.0 in f:\anaconda3\lib\site-packages (from spacy) (0.4.1)
Requirement already satisfied, skipping upgrade: requests<3.0.0,>=2.13.0 in f:\anaconda3\lib\site-packages (from spacy) (2.23.0)
Requirement already satisfied, skipping upgrade: srsly<1.1.0,>=1.0.2 in f:\anaconda3\lib\site-packages (from spacy) (1.0.2)
Requirement already satisfied, skipping upgrade: thinc==7.4.0 in f:\anaconda3\lib\site-packages (from spacy) (7.4.0)
Requirement already satisfied, skipping upgrade: plac<1.2.0,>=0.9.6 in f:\anaconda3\lib\site-packages (from spacy) (0.9.6)
Requirement already satisfied, skipping upgrade: wasabi<1.1.0,>=0.4.0 in f:\anaconda3\lib\site-packages (from spacy) (0.6.0)
Requirement already satisfied, skipping upgrade: tqdm<5.0.0,>=4.38.0 in f:\anaconda3\lib\site-packages (from spacy) (4.45.0)
Requirement already satisfied, skipping upgrade: murmurhash<1.1.0,>=0.28.0 in f:\anaconda3\lib\site-packages (from spacy) (1.0.0)
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.20; python_version < "3.8" in f:\anaconda3\lib\site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.6.0)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in f:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in f:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in f:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in f:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in f:\anaconda3\lib\site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.1.0)
Collecting spacy-looups-data

  Could not find a version that satisfies the requirement spacy-looups-data (from versions: )
No matching distribution found for spacy-looups-data

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -m

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -m

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -m

## General Feature Extraction

- File Loading
- Word Counts
- Charecter Counts
- Average Charecters Per Word
- Stop Words Count
- Count #HashTags and @Mentions
- If numeric digits are present in the tweet
- Uppercase word count

In [2]:
# File loading
import pandas as pd
import numpy as np

import spacy
from spacy.lang.en.stop_words import STOP_WORDS
df = pd.read_csv("A:/training.1600000.processed.noemoticon.csv", encoding = "latin1", header = None)

In [3]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
df.shape

# The data has 1.6 million rows and 6 columns

(1600000, 6)

In [5]:
df = df[[5,0]]

In [6]:
df.columns = ["tweets", "sentiments"]

In [7]:
df.head()

                                              tweets  sentiments
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0
1  is upset that he can't update his Facebook by ...           0
2  @Kenichan I dived many times for the ball. Man...           0
3    my whole body feels itchy and like its on fire            0
4  @nationwideclass no, it's not behaving at all....           0

In [8]:
# Calculating the value counts of sentiments

df["sentiments"].value_counts()

4    800000
0    800000
Name: sentiments, dtype: int64

In [9]:
# The sentiments columns has 800000 positive tweets and 800000 negative tweets

In [10]:
sent_map = { 0 : "negative", 4 : "positive"}

### Word Count

In [11]:
df["word_count"] = df["tweets"].apply(lambda x : len(str(x).split()))
                   
# We have used str(x) coz in tweets there can be some numeric charecters which cannot be split. 
# Hence we converted all the charecters to string

- The split() method splits a string into a list.

- You can specify the separator, default separator is any whitespace.

In [12]:
df.head()

                                              tweets  sentiments  word_count
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0          19
1  is upset that he can't update his Facebook by ...           0          21
2  @Kenichan I dived many times for the ball. Man...           0          18
3    my whole body feels itchy and like its on fire            0          10
4  @nationwideclass no, it's not behaving at all....           0          21

### Charecter Count

In [13]:
df["charecter_count"] = df["tweets"].apply(lambda x : len(x))

In [14]:
df.head()

,tweets,sentiments,word_count,charecter_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

### Calculating Average length of each word

In [15]:
def get_avg_word_len(x):
    words = x.split()
    word_len = 0
    for word in words:
        word_len = word_len + len(word)
    return word_len/len(words)

- We have created a function **get_avg_word_len**
- It first divides the sentence x into a list of words which is stored in variable called **words**
- We set a variable word_len = 0
- We pass a for loop which takes each word and calculates its length
- Finally, it returns length of the word divided bt **total number** of words in the list **words**

In [16]:
df ["avg_word_length"] = df["tweets"].apply(lambda x : get_avg_word_len(x))

In [17]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444
3,my whole body feels itchy and like its on fire,0,10,47,3.700000
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714

- we can also calculate avg_word_length = charecter_count/word_count
- But we are creating a function for our calculations because, in charecter_count, it has also calculated the white_spaces between the charecters

### Calculating STOP WORDS

In [18]:
print(STOP_WORDS)

{'alone', 'forty', 'using', 'on', 'noone', 'it', 'either', 'otherwise', 'nine', '’ll', 'indeed', 'before', 'thru', 'once', 'more', 'now', 'us', 'somewhere', 'our', 'well', 'because', 'about', 'ca', 'make', 'over', 'again', 'above', 'be', 'another', 'have', 'around', 'thereupon', 'unless', 'part', 'many', 'wherein', 'formerly', 'via', 'per', 'seems', 'been', 'these', 'never', 'hers', 'already', 'could', 'out', 'throughout', 'through', 'some', 'seeming', 'hence', 'toward', "'m", 'say', 'nothing', 'amongst', 'only', 'so', 'no', 'used', 'hereafter', 'has', 'any', 'most', 'why', 'anyone', 'too', 'upon', 'even', 'being', 'whither', 'several', 'sixty', 'quite', 'whose', 'when', 'towards', 'move', "'ve", 'top', 'under', 'whom', 'here', 'together', "'s", '‘ve', 'herein', 'almost', 'due', 'is', 'a', 'yourself', 'she', 'always', 'then', 'into', '‘d', 'i', 'however', '‘re', 'can', 'fifteen', 'one', 'or', 'whereas', 'such', 'which', 'onto', 'five', 'yourselves', 'how', 'ourselves', 'fifty', 'bottom', 'where', 'beforehand', 'two', 'put', 'other', 'enough', 'down', 'everyone', 'hundred', 'perhaps', 'as', 'elsewhere', 'very', 'everything', '‘ll', 'if', 'six', 'nowhere', 'along', 'them', 'whereby', 'go', 'eleven', 'less', 'last', 'therein', 'since', 'although', '‘m', 'back', 'various', 'done', 'side', '’ve', 'for', '’re', 'hereby', 'others', '’s', 'am', 'every', 'was', 'n‘t', 'nor', 'from', 'keep', 'each', 'please', 'former', 'should', 'during', 'same', 'whether', 'we', 'third', 'something', 'but', 'anywhere', 'latter', 'few', 'whereupon', 'to', 'this', 'serious', 'anyway', 'themselves', 'next', 'did', 'become', 'after', 'ever', 'afterwards', 'than', 'of', 'else', 'all', 'sometime', 'him', 'whoever', 'therefore', 'four', 'that', 'wherever', 'up', 'there', 'except', 'the', 'everywhere', 'hereupon', 'does', 'whence', 'will', 'three', 'whenever', 'amount', 'within', 'twenty', 'not', 'somehow', 'among', 'myself', 'though', 'front', 'ten', 'with', 'behind', 'n’t', 'beside', 'at', 'seem', 'give', 'yours', 'none', 'further', 'nevertheless', 'became', '’d', 'show', 'against', '’m', 'anyhow', 'must', "'d", 'they', 'take', 'below', 'without', 'just', 'those', 'sometimes', 'would', 'his', 'across', 'becomes', 'anything', 'also', 'your', 'and', 'nobody', 'my', 'call', 'herself', 'least', 'own', '‘s', 'regarding', 'first', 'namely', 'empty', 'himself', 'whole', 'ours', 'until', 'thereby', 'itself', 'you', 'by', 'really', 're', 'had', 'moreover', 'while', 'neither', 'an', 'rather', 'becoming', "'ll", 'latterly', 'eight', 'much', 'made', 'full', 'someone', 'might', 'who', 'seemed', 'besides', 'see', 'what', 'its', 'thus', 'doing', 'in', 'her', 'still', 'thereafter', 'get', 'were', 'both', 'often', 'are', 'mine', 'name', 'whatever', 'their', 'mostly', 'beyond', 'cannot', 'may', 'yet', 'twelve', 'me', "'re", 'thence', 'he', 'do', "n't", 'meanwhile', 'between', 'whereafter', 'off'}

- Most of the times we try to remove the stop words
- But in some applications, stop_words hold alot of meaning
- If we are trying to find the context meaning of the sentence, like we are trying to find what this sentence is saying. That time, stop words become very useful.

In [19]:
df["stop_word_count"] = df["tweets"].apply(lambda x : len([t for t in x.split() if t in STOP_WORDS]))

- In lambda function, we get a list of stop words and then we calculate the length of that list

In [20]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10

### Calculate Number of #tags and @Mentions present in each tweet

In [21]:
# lets see an exaple
x = "This is #Hashtag and this is @Mention"
[t for t in x.split() if t.startswith("#") or t.startswith("@")]

['#Hashtag', '@Mention']

In [22]:
df["hashtags"] = df["tweets"].apply(lambda x: len([t for t in x.split() if t.startswith("#")]))

In [23]:
df["mentions"] = df["tweets"].apply(lambda x: len([t for t in x.split() if t.startswith("@")]))

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,mentions
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1

In [ ]:
df = df.drop("mentions", axis = 1)

### Check If Numeric data is present in the tweet

In [ ]:
df["numeric_count"] = df["tweets"].apply(lambda x: len([t for t in x.split() if t.isdigit()]))

In [ ]:
df.head(10)

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,0
5,@Kwesidei not the whole crew,0,5,29,4.800000,3,0,0
6,Need a hug,0,3,11,2.666667,1,0,0
7,@LOLTrish hey long time no see! Yes.. Rains a...,0,22,99,3.454545,4,0,0
8,@Tatiana_K nope they didn't have it,0,6,36,5.000000,3,0,0
9,@twittera que me muera ?,0,5,25,4.000000,1,0,0

### UPPER case word count.

- Upper case word count is very important as people often describe their happiness and Rage in Upper case to emphasize the words.

In [ ]:
df["upper_case_words"] = df["tweets"].apply(lambda x: len([t for t in x.split() if t.isupper() and len(x) > 2]))

- We used len(x) > 2 coz some words like "I", "AM" are written in upper case but do not show any sentiment

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,0,1

In [ ]:
# lets see some tweets
df.loc[96, "tweets"]

"so rylee,grace...wana go steve's party or not?? SADLY SINCE ITS EASTER I WNT B ABLE 2 DO MUCH  BUT OHH WELL....."

## Data Preprocessing and Cleaning

### Preprocessing and Cleaning

- Lower case
- Contraction to Expansion
- Emails removal and counts
- URLs removal and counts
- Removal of RT
- Removal of Special Characters
- Removal of multiple spaces
- Removal of HTML tags
- Removal of accented characters
- Removal of Stop Words
- Conversion into base form of words
- Common Occuring words Removal
- Rare Occuring words Removal
- Word Cloud
- Spelling Correction
- Tokenization
- Lemmatization
- Detecting Entities using NER
- Noun Detection
- Language Detection
- Sentence Translation
- Using Inbuilt Sentiment Classifier

### 1. Converting all charecters to lower case

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : x.lower())

In [ ]:
df.head(3)

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,0,1
1,is upset that he can't update his facebook by ...,0,21,111,4.285714,9,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,0,1

### 2. Contraction to Expansion

- Contraction means shortform of words. For eg: [don't, haven't, wouldn't, he'll, i'd]
- Expansion means fullform of those words: [do not, have not, would not, he will, i would]
- Contraction to Expansion is necessary to understand the meaning of each sentence.

In [ ]:
# Creating a list of contractions from Wikipedia

contractions = {"aight" : "alright",
 "ain't": "am not",
 "amn't" : "am not",
 "aren't": "are not",
 "can't": "cannot",
 "'cause" : "because",
 "could've": "could have",
 "couldn't" : "could not",
 "couldn't've" : "could not have", 
 "daren't" : "dare not",
 "daresn't" : "dare not",
 "dasn't" : "dare not",
 "didn't" : "did not",
 "doesn't" : "does not",
 "don't" : "do not",
 "d'ye" : "do you",
 "e'er" : "ever",
 "everybody's" : "everybody is",
 "everyone's" : "everyone is",
 "finna":"fixing to",
 "g'day" : "good day",
 "gimme" : "give me",
 "giv'n": "given",
 "gonna":"going to",
 "gon't":"go not",
 "gotta":"got to",
 "hadn't":"had not",
 "had've":"had have",
 "hasn't":"has not",
 "haven't":"have not",
 "he'd":"he would",
 "he'dn't've'd":"he would not have had",
 "he'll":"he will",
 "he's":"he is",
 "he've":"he have",
 "how'd":"how did",
 "howdy":"how do you do",
 "how'll":"how will",
 "how're":"how are",
 "how's":"how has",
 "i'd": "I would",
 "i'd've":"I would have",
 "i'll": "I will",
 "i'm": "I am",
 "i'm'a": "I am about to",
 "i'm'o": "I am going to",
 "innit": "is it not",
 "i've": "I have",
 "isn't": "is not",
 "it'd": "it would",
 "it'll": "it will",
 "it's": "it has",
 "let's": "let us", 
 "ma'am": "madam",
 "mayn't": "may not",
 "may've": "may have",
 "methinks" : "me thinks",
 "mightn't": "might not",
 "might've": "might have",
 "mustn't": "must not",
 "mustn't've": "must not have",
 "must've": "must have",
 "needn't": "need not",
 "ne'er":"never",
 "o'clock": "of the clock",
 "o'er": "over",
 "ol'": "old",
 "oughtn't":"ought not",
 "'s": "is",
 "shalln't":"shall not",
 "shan't":"shall not",
 "she'd":"she would",
 "she'll":"she will",
 "she's":"she is",
 "should've":"should have",
 "shouldn't":"should not",
 "shouldn't've":"should not have",
 "somebody's":"somebody is",
 "someone's":"someone is",
 "something's":"something is",
 "so're":"so you are",
 "that'll":"that will",
 "that're":"that are",
 "that's":"that is",
 "that'd":"that had",
 "there'd":"there would",
 "there'll":"here shall",
 "there're":"there are",
 "there's":"there has",
 "these're":"these are",
 "these've":"these have",
 "they'd":"they would",
 "they'll":"they will",
 "they're":"they are",
 "they've":"they have",
 "this's":"this is",
 "those're":"those are",
 "those've":"those have",
 "'tis":"it is",
 "to've":"to have",
 "'twas":"it was",
 "wanna":"want to",
 "wasn't":"was not",
 "we'd":"we would",
 "we'd've":"we would have",
 "we'll":"we will",
 "we're":"we are",
 "we've":"we have",
 "weren't":"were not",
 "what'd":"what did",
 "what'll":"what will",
 "what're":"what are",
 "what's":"what is",
 "what've":"what have",
 "when's":"when is",
 "where'd":"where did",
 "where'll":"where will",
 "where're":"where are",
 "where's":"where has",
 "where've":"where have",
 "which'd":"which had",
 "which'll":"which shall",
 "which're":"which are",
 "which's":"which has",
 "which've":"which have",
 "who'd":"who would",
 "who'd've":"who would have",
 "who'll":"who will",
 "who're":"who are",
 "who's":"who has",
 "who've":"who have",
 "why'd":"why did",
 "why're":"why are",
 "why's":"why is",
 "won't":"will not",
 "would've":"would have",
 "wouldn't":"would not",
 "wouldn't've":"would not have",
 "y'all":"you all",
 "y'all'd've":"you all would have",
 "y'all'dn't've'd":"you all would not have had",
 "y'all're":"you all are",
 "you'd":"you would",
 "you'll":"you will",
 "you're":"you are",
 "you've":"you have",
  " u " : " you",
 " ur " : " your",
 " n ": " and"}

In [ ]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value = contractions[key]
            x = x.replace(key,value)
        return x
    else:
        return x

In [ ]:
%%time
df["tweets"] = df["tweets"].apply(lambda x: cont_to_exp(x))

Wall time: 4min 15s

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it has not behaving at al...",0,21,111,4.285714,10,0,0,1

### Count and Remove Email ID

In [ ]:
import re

In [ ]:
re.findall(r'([a-zA-Z0-9._-]+@[a-zA-Z0-9,_-]+\.[a-zA_Z0-9._-]+)', x)

[]

- in re.findall and re.sub (r' means remove)

In [ ]:
df["emails"] = df["tweets"].apply(lambda x : re.findall(r'([a-zA-Z0-9._-]+@[a-zA-Z0-9,_-]+\.[a-zA_Z0-9._-]+)', x))

In [ ]:
df["email_counts"] = df["emails"].apply(lambda x : len(x))

In [ ]:
df[df["email_counts"]>0]

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole elledell@gmail.com?,0,3,31,9.000000,1,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,0,0,[missataari@gmail.com],1
10290,@laureystack awh...thatis kinda sad lol add m...,0,8,76,8.500000,0,0,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,0,[press@linkedin.com],1
61735,"sumthin, younoe how sum girls are lyk an hourg...",0,20,129,5.450000,6,0,0,0,[83w@r3...],1
65407,"@suzesinc, rb ...run out of ya allocated props...",0,15,136,8.000000,3,0,0,2,[2fast4u@s...],1
72386,"madonnafae ok, i found this on a fluff page~ e...",0,22,136,5.000000,9,0,0,0,[nrqj8ga@facebook.com],1
74295,@lovetoblog i cannot dm you my email cos you a...,0,16,105,5.562500,6,0,0,2,[danielleloren@live.co.uk],1
87268,but...@floppyflopsome...cannot you come for ju...,0,13,89,5.846154,6,0,0,1,[but...@floppyflopsome...cannot],1
93116,@manycolors kyle@braket.us,0,2,27,12.500000,0,0,0,0,[kyle@braket.us],1
120116,@thetenderoni can you forward the applestore p...,0,21,136,5.476190,10,0,0,0,[cmanisouk@yahoo.com.],1
122008,@biancaalosa i know! its so sad its /soeasyy;...,0,12,89,6.416667,4,0,0,0,[uptownherolover@aim.com],1
123047,than 10 years of his 27 years of life thinks h...,0,25,133,4.280000,10,0,2,0,[stephheil@hotmail.com],1
125032,is havin a cuppa t andhatin the thought of wor...,0,20,105,4.250000,5,0,0,1,[work@12...],1
145111,@kila21 not good i apologize email our team w...,0,9,74,7.222222,3,0,0,1,[we_can_help@cable.comcast.com],1
145568,@ameliesbakery you are not following me email...,0,9,70,6.777778,4,0,0,0,[justin@cltblog.com],1
149522,"@petrescuebarbie yes, rescues can apply for pr...",0,21,138,5.523810,10,0,0,0,[info@halopets.com],1
156143,@fuzeb sounds like you are punking us kidding...,0,18,117,5.500000,5,1,0,0,[thecareysisters@gmail.com.],1
195726,need help to pay my rent chipin widget on the...,0,18,123,5.833333,5,0,0,1,[swbuehler@gmail.com.],1
198669,@pat_graham you sent a payment of $11.48 usd...,0,24,135,4.500000,9,0,0,1,[info@skyroo.com],1
213585,@staceysmithy we have no way of getting there ...,0,16,103,5.437500,7,0,0,0,[poned@live.ie],1
220345,my phone has officially died. send your number...,0,12,80,5.583333,4,0,0,0,[slampoet@yahoo.com],1
226474,got to staples@630..forgot tickets went home. ...,0,17,101,4.882353,5,0,1,0,[staples@630..forgot],1
244008,@nehabebo will get back to youin couple of min...,0,27,129,3.777778,13,0,0,0,[leifnisan@gmail.com],1
268122,@lolitariot xkhaotik@gmail.com d and noo your ...,0,18,109,5.055556,9,0,0,1,[xkhaotik@gmail.com],1
268819,our emailis are still not working....ggrrrrrrr...,0,13,108,7.307692,0,0,0,13,[surgerytemp@gmail.com],1
284483,@kaydence02 *hugs* i am so sorry for you and y...,0,24,137,4.708333,10,0,0,3,[xtrixtersmommax@aol.com],1
288421,esta foto otra vez no tengo mas fotos ce...,0,18,128,5.833333,4,0,0,0,[ceciii.-@hotmail.com],1
290633,someone send me 'who are you now' - this prov....,0,21,127,4.857143,8,0,0,1,[louiise-x@live.co.uk],1
...,...,...,...,...,...,...,...,...,...,...,...
1548712,thank you @johnnyghosts@gmail.com (littlegh...,4,7,82,10.428571,1,0,0,0,[johnnyghosts@gmail.com],1
1550521,#iranelection please send respectful requests...,4,13,111,7.153846,3,1,0,3,[support@twitter.com],1
1550748,looking to speak to a met life agent. please c...,4,20,122,5.100000,8,0,0,0,[lunasin@live.com],1
1551575,@enjolistar i want to get a sneak-peek ; ) sen...,4,11,73,5.636364,4,0,0,0,[dwaynerdugger@gmail.com],1
1554017,hey after hours of trying 2 upload a tut i fin...,4,21,128,5.095238,9,0,1,0,[madeformakeup@blogspot.com],1
1554799,send me stuff richanafbaby@tmail.com,4,4,37,8.250000,1,0,0,0,[richanafbaby@tmail.com],1
1555607,@therapyonline excellent! just started followi...,4,14,138,8.857143,3,0,0,0,[jmccabe@organizedwisdom.com],1
1556135,@finding_jay sorry netis been fucking up...joe...,4,7,68,8.714286,1,0,0,0,[up...joeymck@gmail.com],1
1557426,might? ;d toms.little.windmill@hotmail.com @l...,4,4,58,13.500000,0,0,0,1,[toms.little.windmill@hotmail.com],1
1558996,@joystiq if you got any eu keys left please se...,4,16,81,4.062500,6,0,0,1,[bu77@gmx.de],1
1560197,still in love with you here is my msn: cynt...,4,16,97,4.875000,9,0,0,0,[cynthiaromo95@hotmail.com],1
1560462,@demixselenalove yeah you can email me at ali@...,4,8,74,8.250000,4,0,0,0,[ali@demistylesource.fansites.me],1
1562891,"@ashenflower well, that depends on what you ar...",4,20,128,5.400000,9,0,0,1,[sales@keepyourbabyclose.com],1
1563577,@slasher done! also you can email me at raych...,4,9,63,6.000000,4,0,0,0,[raychulmoore@gmail.com],1
1563738,@djstevecox steve i cannot copy links with the...,4,19,118,5.157895,5,0,0,2,[jasonsteven617@gmail.com],1
1565648,"ladies, check this out..@kalikwestmedia..just ...",4,23,136,4.913043,8,0,0,1,[out..@kalikwestmedia..just],1
1568097,@pinksage phoenixwolf27@hotmail.com.,4,2,37,17.500000,0,0,0,0,[phoenixwolf27@hotmail.com.],1
1568847,@iconoclasto you can email me and i will do it...,4,18,106,4.888889,9,0,1,1,[greenavatars@keithslounge.com],1
1570898,any iphone app developers out there who have h...,4,20,116,4.800000,10,0,0,1,[aagius@gmail.com],1
1570909,any iphone app developers out there who have h...,4,20,116,4.800000,10,0,0,1,[aagius@gmail.com],1
1573440,"@aaronmyers not sure that i did, can you send ...",4,15,87,4.800000,6,0,0,1,[adam@bouska.net],1
1581249,last day of term today - have a great summer! ...,4,23,131,4.695652,11,0,0,1,[library@aston.ac.uk.],1
1581708,who haveis a facebook? add me! darla_pulmano@...,4,9,66,6.333333,2,0,0,0,[darla_pulmano@yahoo.com],1
1583233,melissashea1@hotmail.com add it,4,3,32,9.666667,0,0,0,2,[melissashea1@hotmail.com],1
1584895,@toodamnninja use stick_head@hotmail.com,4,3,41,12.666667,0,0,0,0,[stick_head@hotmail.com],1
1588338,@boudoirsextoys do not forget to shoot me an e...,4,21,127,5.047619,10,0,0,1,[hello@tastelikekisses.com],1
1589132,"hi there , anybody got a job for me oil &amp;...",4,15,98,5.533333,4,0,0,0,[aadvanspijk@yahoo.co.uk],1
1590489,"@clericaaron yes, lbruton@tulsalanparty.com is...",4,14,95,5.785714,6,0,0,1,[lbruton@tulsalanparty.com],1
1591675,@miss_ellen good morning!!!! congrats! se...,4,9,77,7.111111,2,0,0,0,[jill@q985fm.com],1
1599053,@thejoshlynn you are! btw send me an email. wa...,4,19,145,6.631579,7,0,0,1,[marni@creativecustomcardboxes.com],1

In [ ]:
# removing emails from tweets using re.sub [re.substitute]

df["tweets"] = df["tweets"].apply(lambda x : re.sub(r'([a-zA-Z0-9._-]+@[a-zA-Z0-9,_-]+\.[a-zA_Z0-9._-]+)', "", x))

In [ ]:
df[df["email_counts"]>0]

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole ?,0,3,31,9.000000,1,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,0,0,[missataari@gmail.com],1
10290,@laureystack awh...thatis kinda sad lol add m...,0,8,76,8.500000,0,0,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,0,[press@linkedin.com],1
61735,"sumthin, younoe how sum girls are lyk an hourg...",0,20,129,5.450000,6,0,0,0,[83w@r3...],1
65407,"@suzesinc, rb ...run out of ya allocated props...",0,15,136,8.000000,3,0,0,2,[2fast4u@s...],1
72386,"madonnafae ok, i found this on a fluff page~ e...",0,22,136,5.000000,9,0,0,0,[nrqj8ga@facebook.com],1
74295,@lovetoblog i cannot dm you my email cos you a...,0,16,105,5.562500,6,0,0,2,[danielleloren@live.co.uk],1
87268,you come for just one weekend? ps. i am so c...,0,13,89,5.846154,6,0,0,1,[but...@floppyflopsome...cannot],1
93116,@manycolors,0,2,27,12.500000,0,0,0,0,[kyle@braket.us],1
120116,@thetenderoni can you forward the applestore p...,0,21,136,5.476190,10,0,0,0,[cmanisouk@yahoo.com.],1
122008,@biancaalosa i know! its so sad its /soeasyy;...,0,12,89,6.416667,4,0,0,0,[uptownherolover@aim.com],1
123047,than 10 years of his 27 years of life thinks h...,0,25,133,4.280000,10,0,2,0,[stephheil@hotmail.com],1
125032,is havin a cuppa t andhatin the thought of b...,0,20,105,4.250000,5,0,0,1,[work@12...],1
145111,@kila21 not good i apologize email our team,0,9,74,7.222222,3,0,0,1,[we_can_help@cable.comcast.com],1
145568,@ameliesbakery you are not following me email...,0,9,70,6.777778,4,0,0,0,[justin@cltblog.com],1
149522,"@petrescuebarbie yes, rescues can apply for pr...",0,21,138,5.523810,10,0,0,0,[info@halopets.com],1
156143,@fuzeb sounds like you are punking us kidding...,0,18,117,5.500000,5,1,0,0,[thecareysisters@gmail.com.],1
195726,need help to pay my rent chipin widget on the...,0,18,123,5.833333,5,0,0,1,[swbuehler@gmail.com.],1
198669,@pat_graham you sent a payment of $11.48 usd...,0,24,135,4.500000,9,0,0,1,[info@skyroo.com],1
213585,@staceysmithy we have no way of getting there ...,0,16,103,5.437500,7,0,0,0,[poned@live.ie],1
220345,my phone has officially died. send your number...,0,12,80,5.583333,4,0,0,0,[slampoet@yahoo.com],1
226474,got to tickets went home. goto staples at 730...,0,17,101,4.882353,5,0,1,0,[staples@630..forgot],1
244008,@nehabebo will get back to youin couple of min...,0,27,129,3.777778,13,0,0,0,[leifnisan@gmail.com],1
268122,@lolitariot d and noo your link/badge for som...,0,18,109,5.055556,9,0,0,1,[xkhaotik@gmail.com],1
268819,our emailis are still not working....ggrrrrrrr...,0,13,108,7.307692,0,0,0,13,[surgerytemp@gmail.com],1
284483,@kaydence02 *hugs* i am so sorry for you and y...,0,24,137,4.708333,10,0,0,3,[xtrixtersmommax@aol.com],1
288421,esta foto otra vez no tengo mas fotos !...,0,18,128,5.833333,4,0,0,0,[ceciii.-@hotmail.com],1
290633,someone send me 'who are you now' - this prov....,0,21,127,4.857143,8,0,0,1,[louiise-x@live.co.uk],1
...,...,...,...,...,...,...,...,...,...,...,...
1548712,thank you @ (littleghosts live &gt; http://...,4,7,82,10.428571,1,0,0,0,[johnnyghosts@gmail.com],1
1550521,#iranelection please send respectful requests...,4,13,111,7.153846,3,1,0,3,[support@twitter.com],1
1550748,looking to speak to a met life agent. please c...,4,20,122,5.100000,8,0,0,0,[lunasin@live.com],1
1551575,@enjolistar i want to get a sneak-peek ; ) sen...,4,11,73,5.636364,4,0,0,0,[dwaynerdugger@gmail.com],1
1554017,hey after hours of trying 2 upload a tut i fin...,4,21,128,5.095238,9,0,1,0,[madeformakeup@blogspot.com],1
1554799,send me stuff,4,4,37,8.250000,1,0,0,0,[richanafbaby@tmail.com],1
1555607,@therapyonline excellent! just started followi...,4,14,138,8.857143,3,0,0,0,[jmccabe@organizedwisdom.com],1
1556135,@finding_jay sorry netis been fucking thanks,4,7,68,8.714286,1,0,0,0,[up...joeymck@gmail.com],1
1557426,might? ;d @lostducky0013,4,4,58,13.500000,0,0,0,1,[toms.little.windmill@hotmail.com],1
1558996,@joystiq if you got any eu keys left please se...,4,16,81,4.062500,6,0,0,1,[bu77@gmx.de],1
1560197,still in love with you here is my msn: add...,4,16,97,4.875000,9,0,0,0,[cynthiaromo95@hotmail.com],1
1560462,@demixselenalove yeah you can email me at,4,8,74,8.250000,4,0,0,0,[ali@demistylesource.fansites.me],1
1562891,"@ashenflower well, that depends on what you ar...",4,20,128,5.400000,9,0,0,1,[sales@keepyourbabyclose.com],1
1563577,@slasher done! also you can email me at,4,9,63,6.000000,4,0,0,0,[raychulmoore@gmail.com],1
1563738,@djstevecox steve i cannot copy links with the...,4,19,118,5.157895,5,0,0,2,[jasonsteven617@gmail.com],1
1565648,"ladies, check this look at those eyes, and te...",4,23,136,4.913043,8,0,0,1,[out..@kalikwestmedia..just],1
1568097,@pinksage,4,2,37,17.500000,0,0,0,0,[phoenixwolf27@hotmail.com.],1
1568847,@iconoclasto you can email me and i will do it...,4,18,106,4.888889,9,0,1,1,[greenavatars@keithslounge.com],1
1570898,any iphone app developers out there who have h...,4,20,116,4.800000,10,0,0,1,[aagius@gmail.com],1
1570909,any iphone app developers out there who have h...,4,20,116,4.800000,10,0,0,1,[aagius@gmail.com],1
1573440,"@aaronmyers not sure that i did, can you send ...",4,15,87,4.800000,6,0,0,1,[adam@bouska.net],1
1581249,last day of term today - have a great summer! ...,4,23,131,4.695652,11,0,0,1,[library@aston.ac.uk.],1
1581708,who haveis a facebook? add me! thanks! :],4,9,66,6.333333,2,0,0,0,[darla_pulmano@yahoo.com],1
1583233,add it,4,3,32,9.666667,0,0,0,2,[melissashea1@hotmail.com],1
1584895,@toodamnninja use,4,3,41,12.666667,0,0,0,0,[stick_head@hotmail.com],1
1588338,@boudoirsextoys do not forget to shoot me an e...,4,21,127,5.047619,10,0,0,1,[hello@tastelikekisses.com],1
1589132,"hi there , anybody got a job for me oil &amp;...",4,15,98,5.533333,4,0,0,0,[aadvanspijk@yahoo.co.uk],1
1590489,"@clericaaron yes, is a good start. but i thin...",4,14,95,5.785714,6,0,0,1,[lbruton@tulsalanparty.com],1
1591675,@miss_ellen good morning!!!! congrats! se...,4,9,77,7.111111,2,0,0,0,[jill@q985fm.com],1
1599053,@thejoshlynn you are! btw send me an email. wa...,4,19,145,6.631579,7,0,0,1,[marni@creativecustomcardboxes.com],1

In [ ]:
df.loc[0,"tweets"]

'@switchfoot http://twitpic.com/2y1zl - awww, thatis a bummer.  you shoulda got david carr of third day to do it. ;d'

### Count URLs and Remove It

In [ ]:
x = " my name is https://mehta.com"

In [ ]:
re.findall(r'(https|ftp|http)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^+%&?~+#-])?', x)

[('https', 'mehta.com', '')]

In [ ]:
df["url_flags"] = df["tweets"].apply(lambda x: len(re.findall(r'(https|ftp|http)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^+%&?~+#-])?', x)))

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts,url_flags
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,[],0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,[],0,0
4,"@nationwideclass no, it has not behaving at al...",0,21,111,4.285714,10,0,0,1,[],0,0

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x: re.sub(r'(https|ftp|http)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^+%&?~+#-])?',"", x))

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts,url_flags
0,"@switchfoot - awww, thatis a bummer. you sho...",0,19,115,5.052632,4,0,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,[],0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,[],0,0
4,"@nationwideclass no, it has not behaving at al...",0,21,111,4.285714,10,0,0,1,[],0,0

In [ ]:
df.loc[0,"tweets"]

'@switchfoot  - awww, thatis a bummer.  you shoulda got david carr of third day to do it. ;d'

### Remove RT (Re-tweet)

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : re.sub("RT", "", x))

### Removing Special Charecters or Punctuations

- We will only keep alphabetical charecters and numeric charecters.

In [ ]:
import re
df["tweets"] = df["tweets"].apply(lambda x:re.sub('[^A-Z a-z 0-9]+', '', x))

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts,url_flags
0,switchfoot awww thatis a bummer you shoulda...,0,19,115,5.052632,4,0,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,[],0,0
2,kenichan i dived many times for the ball manag...,0,18,89,3.944444,7,0,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,[],0,0
4,nationwideclass no it has not behaving at all ...,0,21,111,4.285714,10,0,0,1,[],0,0

In [ ]:
df.loc[0, "tweets"]

'switchfoot   awww thatis a bummer  you shoulda got david carr of third day to do it d'

### Removing multiple spaces between words `"Hello     Ashish  "       `

In [ ]:
x = "Thanks    for watching    this video."

In [ ]:
" ".join(x.split())

'Thanks for watching this video.'

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : " ".join(x.split()))

In [ ]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts,url_flags
0,switchfoot awww thatis a bummer you shoulda go...,0,19,115,5.052632,4,0,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,[],0,0
2,kenichan i dived many times for the ball manag...,0,18,89,3.944444,7,0,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,[],0,0
4,nationwideclass no it has not behaving at all ...,0,21,111,4.285714,10,0,0,1,[],0,0

### Removing HTML tags [if any]

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
x = "<html><h2>Thanks for watching</h2></html>"

In [ ]:
BeautifulSoup(x, "lxml").get_text()

'Thanks for watching'

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x: BeautifulSoup(x, "lxml").get_text())

### Removing Accented Charecters

- Accented charecters are words written with decorated characters
- eg: résumé. Look at the e written. The meanings of these words differ slightly from actual english word.

In [ ]:
import unicodedata

def remove_accented_chars(x):
    x = unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8", "ignore")
    return(x)

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : remove_accented_chars(x))

### Using Spacy and NLP

In [ ]:
import spacy

In [ ]:
x = "this is a stop word code"

In [ ]:
" ".join(t for t in x.split() if t not in STOP_WORDS)

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : " ".join([t for t in x.split() if t not in STOP_WORDS]))

In [ ]:
df.head()

### Convert into base or root form of word

- It is necessary to convert all the words into base form coz we have to decrease the length of our vocabulary.
- if we dont convert words to base form, then they will be treated as different words.
- Eg: times and time will be treated as different words even though they mean the same.


- Should we convert words to its base form or not depends on the Project that we are working on.

In [ ]:
nlp = spacy.load("en_core_web_sm")

In [ ]:
x = "kenichan dived timeses flies highs and lows of lives"

In [ ]:
# Base forms are as follows:
# dived = dive, times= time

In [ ]:
def base_form(x):
    x_list = []
    doc = nlp(x)
    
    for token in doc:
        lemma = str(token.lemma_)
        if lemma == "-PRON-" or lemma == "be":
            lemma = token.text
        x_list.append(lemma)
    print(" ".join(x_list))

In [ ]:
base_form(x)

### Common Words Removal

- We need to remove common words because, if the word occurs more number of times, then it means it is not important. [Hypothesis]
- It might vary from project to project

In [ ]:
df.head()["tweets"]

In [ ]:
# 1. Join all the tweets together 

text = " ".join(df["tweets"])

In [ ]:
#2. Create a list of all the words in the joint tweets

text = text.split()

In [ ]:
# 3. Convert text into a column and then count the values of each word

freq_comm = pd.Series(text).value_counts()

In [ ]:
freq_comm

In [ ]:
# Lets say we have to remove top 20 occuring words

f20 = freq_comm[:20]

In [ ]:
f20

In [ ]:
# Remove most common 20 words

df["tweets"] = df["tweets"].apply(lambda x : " ".join(t for t in x.split() if t not in f20))

# DID NOT EXECUTE IT

### Removing the Rare words

In [ ]:
freq_comm

In [ ]:
rare20 = freq_comm[:-20]

### OR

- We can select all the words which have appeared only once as rare words.

In [ ]:
rare = freq_comm[freq_comm.values == 1]

In [ ]:
rare

In [ ]:
df["tweets"] = df["tweets"].apply(lambda x : " ".join([t for t in x.split() if t not in rare20]))

# DID NOT EXECUTE

### WORD CLOUD VISUALIZATION

In [ ]:
!pip install wordcloud

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
#Taking first 1000 words from the "text" list and converting it to a paragraph

x = " ".join(text[:1000])

In [ ]:
x

In [ ]:
wc = WordCloud(width = 600, height = 500).generate(x)
plt.imshow(wc)
plt.axis("off")
plt.show()

### Spelling Correction

- for spelling corrections, we make use of textblob

In [ ]:
# Install textblob if not installed

#!pip install -U textblob
#!python -m textblob.download_corpora

In [1]:
from textblob import TextBlob

In [2]:
x = "Tanks forr waching thes vidio carr"

In [3]:
x = TextBlob(x).correct()

In [4]:
x

TextBlob("Ranks for watching the video care")

- We can see that textBlob is not very accurate. We wanted to have Thanks instead of Tanks but it gave Ranks

### Tokenization

- Tokenization means converting text to tokens (single words)

In [ ]:
x = "Thanks# for watching this video. Please Subscribe!"

In [ ]:
TextBlob(x).words

### OR

- We can do Tokenization using Spacy as well

In [ ]:
doc = nlp(x)
for token in doc:
    print(token)

- WordBlob does not consider punctuations and special charecters (# in above sent) as tokens
- Spcay takes punctuations as tokens
- When to use which tokenization technique will depend on our project requirement

### Lemmatization

In [ ]:
# Lemmatization using textblob

In [ ]:
x = "runs running run ran"

In [ ]:
from textblob import Word

In [ ]:
for token in x:
    print(Word(token).lemmatize())

In [ ]:
# Lemmatization using Spacy

In [ ]:
doc = nlp(x)
for token in doc:
    print(token.lemma_)

- Spacy has a better tokenizer than Wordblob

In [110]:
df.head()

,tweets,sentiments,word_count,charecter_count,avg_word_length,stop_word_count,hashtags,numeric_count,upper_case_words,emails,email_counts,url_flags
0,,0,19,115,5.052632,4,0,0,1,[],0,1
1,,0,21,111,4.285714,9,0,0,0,[],0,0
2,,0,18,89,3.944444,7,0,0,1,[],0,0
3,,0,10,47,3.700000,5,0,0,0,[],0,0
4,,0,21,111,4.285714,10,0,0,1,[],0,0